.main {
  width: 100%;
  z-index: 5;
}
.maindiv {
  display: flex;
  justify-content: center;

  margin: auto;
}
.Glavninaslov {
  height: 555px;
  min-width: 327px;
  background-color: #1e68cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 30%;
  padding: 20px;
}
.h2 {
  font-size: 50px;
  font-style: italic;
}

.slikaDrona {
  height: 555px;
  width: 70%;
}
.dronovi {
  width: 100%;
  height: 400px;
  position: relative;
}
.slikedronova {
  position: relative;
  width: 100%;
  min-width: 400px;
  height: 400px;
}
.divnaslici {
  position: absolute;
  top: 150px;
  left: 59px;
}
.camerap {
  font-style: italic;
  font-size: 30px;
  color: #1e68cb;
  font-weight: 400;
  width: 316px;
}
.naslovi {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.naslov {
  width: 30%;
  text-align: center;
  font-size: 16px;
  color: #1e68cb;
  margin: 42px 0px;
  font-style: italic;
  font-weight: bold;
}
.linija1 {
  height: 0px;
  left: 0px;
  width: 35%;
  border: 1px solid #f0f0f0;
}
.divzaslike {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 146px;
  z-index: 5;
}
.glavniDiv1 {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: 1000px;
}
.planina {
  width: 100%;
  opacity: 0.5;
  position: relative;
  height: 1000px;
}
.naslovi1 {
  position: absolute;
  top: 30px;
  text-align: center;
  font-style: italic;
}
.naslov1 {
  color: black;
  font-size: 50px;
  width: 400px;
}
.box {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 200px;
  width: 100%;
}
.boxproizvoda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boxproizvoda,
p {
  font-style: italic;
  margin: 10px;
}
.cena {
  color: #1e68cb;
}
.slikaproizvoda {
  width: 189px;
  height: 142px;
}

.naslovi2 {
  top: 500px;
}
.box1 {
  top: 700px;
}
.maindiv1 {
  height: 500px;
  width: 100%;
  background-color: rgb(30, 104, 203);
  display: flex;
  flex-direction: column;
}
.naslov2 {
  margin: 10px auto 20px;
  color: white;
  letter-spacing: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxTestiominal {
  display: flex;
}
.boxTestiominal1 {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  justify-content: center;
  color: rgb(170, 199, 238);
  font-style: italic;
}

.paragraf {
  width: 266px;
  height: 118px;
  text-align: center;
  margin-top: 20px;
  line-height: 1.5;
}
.paragraf1 {
  font-size: 20px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .maindiv,
  .boxTestiominal,
  .box,
  .box1 {
    flex-direction: column;

    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1024px) {
  .Glavninaslov,
  .slikaDrona {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .divzaslike {
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .glavniDiv1,
  .planina {
    height: 4700px;
  }
}

@media only screen and (max-width: 1024px) {
  .naslovi2 {
    top: 2350px;
  }
}
@media only screen and (max-width: 1024px) {
  .box1 {
    top: 2500px;
  }
}
@media only screen and (max-width: 1024px) {
  .slikaproizvoda {
    width: 400px;
    height: 300px;
  }
}
